#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.slider-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  margin: 16px;
  background: white;
}