.auth-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-main-form-container {
  background-color: white;
  padding: 25px 35px;
  min-width: 30%;
  box-shadow: 0px 0px 52px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 52px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 52px -15px rgba(0, 0, 0, 0.75);
}